body {
 background-color: #777;
 color: #777;
   
}

header {
    background-color: #ebebeb;
    padding: 20px;
    position: relative;
    top: 10px;
    width: 1052px;
    margin: 0 auto;
    text-align: center;
    width: 1052px;
    margin: 0 auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    
}

nav {
    background-color: #ebebeb;
    padding: 20px;
    position: relative;
    top: 20px;
    width: 1052px;
    margin: 0 auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    
}

aside {
    background: #ebebeb;
    position: relative;
    top: 30px;
    right: 405px;
    padding: 20px;
    text-align: center;
    height: 220px;
    float: right;
    width: 495px;
    font-family: Arial, Helvetica, sans-serif;
    
}

article {
    background-color: #777;
    padding: 15px;
    position: relative;
    top: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #ebebeb;
}

section {
    background: #ebebeb;
    position: relative;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    height: 220px;
    float: left;
    width: 495px;
    top: 30px;
    position: relative;
    left: 405px;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    background-color: #ebebeb;
    padding: 12px;
    position: relative;
    bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
       
}

p {
    background-color: #ebebeb;
    padding: 12px;
    position: relative;
    bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: #777;   
    
}

footer {
    background-color: #ebebeb;
    padding: 20px;
    position: relative;
    top: 302px;
    margin: 0 auto;
    text-align: center;
    width: 1055px;
    margin: 0 auto;
    text-align: center;: 1052px;
    font-family: Arial, Helvetica, sans-serif;

}